<div class="container">
  <h1><%= @user.name %>'s Profile Page</h1>
  <div>
    <h4><%= @user.email%></h4>
  </div>
  <%= link_to "edit", edit_user_path%>

  <% if current_user.id == @user.id %>
  <h3>Your Projects</h3>
  <% else %>
  <h3><%= @user.name %>'s Projects</h3>
  <% end %>
  <% if @user.owned_projects.any? %>
  <ul class="accordion" data-accordion>
    <% @user.owned_projects.map do |proj|%>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">
          <%= proj.name %>
        </a>

        <div class="accordion-content" data-tab-content>
          <div class="money">
            <%= render partial: 'projects/project_total_money', :locals => {:@project => proj} %>
          </div>
          <div>
            <h5>Description:</h5>
            <p><%= proj.description %></p>
            <h5>End Date:</h5>
            <p><%= proj.end_date %></p>
          </div>

          <% if current_user.id === proj.owner_id %>
          <div>
            <%= link_to 'edit project', edit_project_path(proj) %>
          </div>
          <% end %>
        </div>
      </li>

    <% end %>
  </ul>
  <% else %>
  <p>No Projects</p>
  <% end %>

  <% if current_user == @user %>
  <h3>Your Rewards</h3>
  <% if @user.rewards.any? %>
  <div class="row">
  <% @user.rewards.map do |rew| %>
    <div class="large-3 columns show_rewards">
      <%= link_to rew.project.name, project_path(rew.project.id) %>
      <p><%= rew.name %></p>
      <p><%= rew.amount %></p>
      <p><%= rew.description %></p>
    </div>
  <% end %>
</div>
<% else %>
  <p>NO REWARDS</p>
  <% end %>
  <% end %>
</div>
